body{
    background-color: rgb(187, 187, 187);
    font-size: 17px;
}
#padre{
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    border-radius: 10px;
}
#hijo{
    width: 700px;
    height: 200px;
    margin: 0 auto;
    justify-items: center;
    text-align: center;
}
#labels{
    width: 350px;
    height: 388px;
    float: left;
    text-align: right;
    padding-top: 10px;
}
#inputs{
    width: 350px;
    float: right;
    text-align: left;
}
label{
    text-align: right;
    display: flex;
    flex-direction: column;
}
input{
    margin: 10px;
    justify-content: center;
    width: 234px;
}
select{
    align-items: center;
    margin: 10px;
}
.paises{
    width: 242px;
}