header{
    background-color: rgb(52, 133, 255);
    border: 5px chartreuse;
    width: 750px;
    height: 250px;
    border-top: 10px black solid;
    border-bottom: 5px black solid;
    border-left: 10px black solid;
    border-right: 10px black solid;
}
#Banner{
    background-color: aliceblue;
    width: 500px;
    height: 240px;
    margin: 5px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Logo{
    background-color: aliceblue;
    width: 230px;
    height: 240px;
    margin: 5px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    background-color: rgb(0, 202, 0);
    width: 750px;
    height: 50px;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
    border-left: 10px black solid;
    border-right: 10px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    background-color: rgb(255, 217, 0);
    width: 750px;
    height: 400px;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
    border-left: 10px black solid;
    border-right: 10px black solid;
}
article{
    background-color: aliceblue;
    width: 450px;
    height: 390px;
    margin: 5px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside{
    background-color: aliceblue;
    width: 280px;
    height: 390px;
    margin: 5px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: rgb(255, 217, 0);
    width: 750px;
    height: 50px;
    border-top: 5px black solid;
    border-bottom: 10px black solid;
    border-left: 10px black solid;
    border-right: 10px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}